h1
{

    color:rgb(71, 187, 187);
    font-weight: bold;
    font-family: fantasy;
    text-align: center;

}

body
{
    display: grid;
    grid-template-rows: 1fr;

}

.wrapper
{
    outline: solid 1px rgb(6, 20, 216);
    height: 60vh;
    -moz-outline-radius: 2px;
    place-content: center;
    display: grid;

}

.smiley
{
    background-color: yellow;
    -webkit-box-shadow: 10px 10px 42px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 42px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 42px 0px rgba(0,0,0,0.75);
    height: 60vh;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    display: grid;
    grid-template-rows: repeat(2,1fr);

}

.top
{
    outline: 2px blue;
    display: grid;
    grid-template-columns: auto auto;
    place-content: center;
    grid-column-gap: 38px;
}
.eye
{

    background-color: rgb(0, 0, 0);
    -webkit-box-shadow: 10px 10px 42px 0px rgba(26,96,143,1);
    -moz-box-shadow: 10px 10px 42px 0px rgba(26,96,143,1);
    box-shadow: 10px 10px 42px 0px rgba(26,96,143,1);
    border-radius: 50%;
    height: 20px;
    width: 20px;

}