.selectWrapper{
    border-radius:36px;
    display:inline-block;
    overflow:hidden;
    background:#cccccc;
    border:1px solid #cccccc;
  }
  .selectBox{
    width:140px;
    height:40px;
    border:0px;
    outline:none;
    text-align: right;
    font-size:150%;
  }

  option{

    text-align: right;

  }

.title {
    text-align: center;
    color: #3588d6;
    text-shadow:1px 2px 5px rgb(14, 52, 82);
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 400%;
    margin-bottom: 2% ;
    text-decoration: white;
  }
  

  form {
    background-color: rgb(195, 218, 236);
    color: white;
    font-family: 'gutman','david','arial';
    width: 60%;
    margin: auto;
    padding:50px;
    border-radius: 20px;
    text-align: center;
    height: 700px;
  }

  .form {
    background-color: rgb(195, 218, 236);
    color: white;
    font-family: 'gutman','david','arial';
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:20px;
    border-radius: 20px;
    text-align: center;
  }


 .formY {
    background-color: rgb(146, 188, 223);
    color: white;
    font-family: 'gutman','david','arial';
    padding: 30px;
    border-radius: 20px;
    text-align: right;
    float: right;
    margin: 20px;
    box-shadow:0px 5px 10px black;
  }

  .formX {
    background-color: rgb(146, 188, 223);
    color: white;
    font-family: 'gutman','david','arial';
    width: 49%;
    margin: 2%;
    padding: 30px;
    border-radius: 20px;
    text-align: right;
  }

   .tim{
    font-family: 'gutman','david','arial';
    font-size: 200%;
    border-style: none;
    border-radius:36px;
    width:100px;
    background-color: white;
    padding: 2px;
    text-align: center;
    color: black;
    font-size: 200%;
    
}

.button{

margin-top: 5%;
margin-left: auto;
border-radius:36px;
display:inline-block;
overflow:hidden;
background:#5995ce;
color: white;
border:1px solid #cccccc;
box-shadow:0px 1px 4px black;
font-size: 200%;
height: 70px;
width: 300px;

}

.Hbutton{

    margin: auto;
    border-radius:36px;
    display:inline-block;
    overflow:hidden;
    background:#3588d6;
    color: white;
    font-weight: bolder;
    padding: 2px;
    font-size: 200%;
    width: 10%;
    border:1px solid #cccccc;
    
    }


.field
{
  margin-bottom: 1% ;
}

.inpfield
{
  margin-bottom: 5% ;
}

  .inpfield input{
    font-family: 'gutman','david','arial';
    font-size: 180%;
    border-radius:36px;
    text-align:right;
  }
  .field label{
    font-family: 'gutman','david','arial';
    font-size: 200%;
    padding-left: 30px;
    margin-left:auto;
    text-shadow:1px 1px 5px rgb(1, 12, 20);
  }
  
.fieldK label{
  font-family: 'gutman','david','arial';
  font-size: 220%;
  padding-left: 30px;
  margin-left:auto;
  color: #062038;
  text-shadow:1px 2px 1px rgb(255, 255, 255);

}

  body{

   
background: rgba(242,246,248,1);
background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 45%, rgba(181,198,208,1) 78%, rgba(224,239,249,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(45%, rgba(216,225,231,1)), color-stop(78%, rgba(181,198,208,1)), color-stop(100%, rgba(224,239,249,1)));
background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 45%, rgba(181,198,208,1) 78%, rgba(224,239,249,1) 100%);
background: -o-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 45%, rgba(181,198,208,1) 78%, rgba(224,239,249,1) 100%);
background: -ms-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 45%, rgba(181,198,208,1) 78%, rgba(224,239,249,1) 100%);
background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 45%, rgba(181,198,208,1) 78%, rgba(224,239,249,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0 );

  }

  hr{

    color: white;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 30px;

  }